{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    
    <link rel="stylesheet" href="{% static 'home.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <div id="GFG">
    <h1 style="text-align:center">Welcome to Security Management of IIT Dharawad</h1><br>
    <p>
    <br>
    <br>
<a class="btn btn-info"  href="{% url 'user_login' %}"><h3 style="text-align:center">click here to go to login page!!!</h3></a><br>

</p></div>
    <div class="Cr">
    <h2>Creators of project</h2>
    <ul>
    <li>Manav Patni(200010026)</li>
    <li>Divyamani Agarwati(200010014)</li>
    <li>Surzith Pandi(200010049)</li>
    </ul>
    </div>
    <footer>
        <a href="#">FAQ</a>
        <a href="#">Contact Us</a>
        <a href="#">Terms of Use</a>
        <a href="#">Privacy Policy</a>
        <a href="#">Refund Policy</a>
        <a href="#">&copy; 2021 | IIT DHARWAD</a>
        <a href="https://www.iitdh.ac.in/">IIT DHARWAD website</a>
        
    </footer>
</body>
</html>


